<section class="main-header">
  <img src="<%= asset_path "タツノオトシゴのアイコン素材.png" %>">
</section>
<section class="about">
  <h1>Let's talk about feelings now!</h1>
    <p>
      Syabetterで、今あなたの思いを話そう！<br>
    </p>
    <p>
      一言でも、何でもいいんです。あなたの身の回りのささいな出来事を教えて下さい。
    </p>
</section>
<section class="function container-fluid">
  <img src="<%= asset_path "タツノオトシゴ.png" %>">
    <div class="row">
      <h2>機能一覧（実装中）</h2>
        <div class="function-images">
          <div class="col-md-3 col-sm-6">
            <div class="function-image">
              <img src="<%= asset_path "鍵アイコン15.png" %>">
              <p>ログイン機能</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="function-image">
              <img src="<%= asset_path "メールの無料アイコン.png" %>">
              <p>メール送信機能</p>
            </div>
          </div>
      <div class="col-md-3 col-sm-6">
        <div class="function-image">
          <img src="<%= asset_path "人脈アイコン1.png" %>">
          <p>友達つながり機能</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="function-image">
          <img src="<%= asset_path "えんぴつ付きのノートアイコン.png" %>">
          <p>トーク投稿機能</p>
        </div>
      </div>
    </div>
  </div>
</section>